basicsr>=1.4.2
filetype==1.2.0
ffmpeg_progress_yield
onnx>=1.17.0
onnxruntime-gpu>=1.20.1
opencv-python>=4.10.0.84
yt-dlp==2024.11.18
psutil>=6.1.0
realesrgan==0.3.0
tqdm>=4.67.1
tensorflow>=2.18.0
huggingface-hub>=0.26.2
easydict
tensorrt
