.selectRow {
    pointer-events: all;
    cursor: pointer;
}

.selectRow.selected {
    background-color: #e6e6e6;
    border: 1px solid #d9d9d9;
}

.scrollable-div {
    width: 100%;
    overflow-y: auto;
}

#ff3_status {
    margin-top: 20px !important;
}

.switch_btn {
    position: absolute;
    display: block !important;
    width: 25px !important;
    height: 25px !important;
    max-width: 25px !important;
    max-height: 25px !important;
    right: 0;
    padding: 0 !important;
    min-width: 0 !important;
}

#ff3_reference_face_position_gallery {
    width: 100% !important;
    max-height: 85px;
    height: 85px;
}

#ff3_reference_faces_selection_gallery, #ff3_reference_faces_selection_gallery_2{
    max-height: 85px;
    width: calc(100% - 2.2em);
}

#ff3_add_reference_face_button, .remove_reference_faces_button {
    flex: none;
    max-width: 2.2em;
    min-width: 2.2em !important;
    height: 2.4em;
    line-height: 1em;
    border-radius: 0.5em;
}
#ff3_reference_faces_selection_gallery .grid-wrap.fixed-height,
#ff3_reference_faces_selection_gallery_2 .grid-wrap.fixed-height,
#ff3_reference_face_position_gallery .grid-wrap.fixed-height {
    overflow-x: hidden;
    overflow-y: auto;
}

#ff3_reference_face_position_gallery .grid-wrap.fixed-height {
    overflow-x: hidden;
    overflow-y: auto;
}

.ff_preview_frame_button {
    min-width: 36px!important;
    max-width: 36px!important;
    min-height: 36px!important;
    max-height: 36px!important;
    width: 36px!important;
    height: 36px!important;
}

.output_elements {
    min-height: 0 !important;
}

.remove_reference_faces_button {
    top: 25%;
    position: relative;
}

.maskBtn {
    max-width: 9.35em;
    min-width: 8em !important;
    border-radius: 10px !important;
    margin: 5px 5px !important;
}

#ff3_bottom_mask_positions {
    margin: 5px;
    padding: 4px;
    overflow: hidden;
}

#ff3_bottom_mask_positions p {
    margin: 0;
    padding: 0;
    line-height: 1.2;
}
