.selectRow {
    pointer-events: all;
    cursor: pointer;
}

.selectRow.selected {
    background-color: #e6e6e6;
    border: 1px solid #d9d9d9;
}
#queueTable {
    width: 100%;
    table-layout: fixed;
}

#queueTable th, #queueTable td {
    overflow: hidden; /* Optional: use this to ensure content doesn't overflow the cells */
    text-overflow: ellipsis; /* Optional: displays an ellipsis when the text overflows */
    white-space: nowrap; /* Optional: prevents text from wrapping to the next line */
}

#queueTable th:nth-child(1), #queueTable td:nth-child(1) {
    width: 10%; /* Sets the width of the first column */
}

#queueTable th:nth-child(n+2), #queueTable td:nth-child(n+2) {
    width: 30%; /* Sets the width of the remaining columns */
}

.queueRow {
    flex-grow: 0 !important;
}

.scrollable-div {
    width: 100%;
    overflow-y: auto;
}

#ff_status {
    margin-top: 20px !important;
}

.switch_btn {
    position: absolute;
    display: block !important;
    width: 25px !important;
    height: 25px !important;
    max-width: 25px !important;
    max-height: 25px !important;
    right: 0;
    padding: 0 !important;
    min-width: 0 !important;
}

#ff_reference_face_position_gallery {
    width: 100% !important;
    max-height: 85px;
    height: 85px;
}

#ff_reference_faces_selection_gallery, #ff_reference_faces_selection_gallery_2{
    max-height: 85px;
    width: calc(100% - 2.2em);
}

#ff_add_reference_face_button, .remove_reference_faces_button {
    flex: none;
    max-width: 2.2em;
    min-width: 2.2em !important;
    height: 2.4em;
    line-height: 1em;
    border-radius: 0.5em;
}
#ff_reference_faces_selection_gallery .grid-wrap.fixed-height,
#ff_reference_faces_selection_gallery_2 .grid-wrap.fixed-height,
#ff_reference_face_position_gallery .grid-wrap.fixed-height {
    overflow-x: hidden;
    overflow-y: auto;
}

#ff_reference_face_position_gallery .grid-wrap.fixed-height {
    overflow-x: hidden;
    overflow-y: auto;
}

.ff_preview_frame_button {
    min-width: 36px!important;
    max-width: 36px!important;
    min-height: 36px!important;
    max-height: 36px!important;
    width: 36px!important;
    height: 36px!important;
}

.output_elements {
    min-height: 0 !important;
}

.remove_reference_faces_button {
    top: 25%;
    position: relative;
}

.maskBtn {
    max-width: 9.35em;
    min-width: 8em !important;
    border-radius: 10px !important;
    margin: 5px 5px !important;
}

#bottom_mask_positions {
    margin: 5px;
    padding: 4px;
    overflow: hidden;
}

#bottom_mask_positions p {
    margin: 0;
    padding: 0;
    line-height: 1.2;
}
